*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(64, 32, 138);
    height: 70px;
    width: 2560px;
}
h1{
    padding-top: 8px;
    color: white;
    font-size: 45px;
    text-align: center;
    margin-left: 40px;
}
body{
    background: url(../materijali/proba6.jpeg);
    background-size: cover;
}
.d1{
    position: relative;
    right: 45px;
}

.img-logo{
    height: 50px;
    width: 70px;
    position: absolute;
    top: 15px;
    left: 20px;
}

#proba1{
    display: none;
}
#proba1:target{
    display: block;
    font-size: 25px;
    color:white;
}
li a {
    color:white;
}

.img-izbornik{
    height: 50px;
    width: 55px;
    position: absolute;
    top: 10px;
    right: 25px;
}

.izbornik{
    text-decoration: none;
    position: absolute;
    right: 10px;
    padding-top: 25px;
    padding-left: 15px;
}

.formaZaDodavanje{
    position: relative;
    top: 50px;
    left: 960px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: rgb(64, 32, 138);
    color: white;
    width: 550px;
    height:1000px;
    padding-left: 50px;
    padding-top: 30px;
}

.dodaj{
    margin-top: 5px;
    padding: 15px;
    width: 70%;
    margin-left: 70px;
    margin-top: 10px;
    border-radius: 35px;
    font-size: 25px;
    background-color: rgb(105, 18, 105);
    color: whitesmoke;
}

.dodavanje{
    position: relative;
    margin-left: 130px;
    padding-bottom: 10px;
    font-size: 30px;
}

#time{
    border: 2px solid red;
    padding: 5px;
}
#timer{
    position: relative;
    left: 60px;
    bottom: 35px;
    margin-top: 10px;
    border: 2px solid red;
    padding: 5px;
    width: 30px;
}

.formaZaDodavanje legend{
    padding-bottom: 20px;
}

.formaZaDodavanje .prvo #id{
    width: 80%;
}
.formaZaDodavanje .prvo .id{
    font-size: 20px;
}
.formaZaDodavanje #naziv{
    width: 72.5%;
}
.formaZaDodavanje .naziv{
    width: 72.5%;
    font-size: 20px;
}
.formaZaDodavanje .kat{
    width: 62%;
    font-size: 20px;
}
.formaZaDodavanje #kat{
    position: relative;
    bottom: 38px;
    margin-left: 120px;
    display: inline-block;
}



.changeDisplay option{
    display: block;
}

/* option{
    display: inline-block;
} */

.formaZaDodavanje #datum{
    width: 55%;
}
.formaZaDodavanje .datum{
    font-size: 20px;
}
.formaZaDodavanje #opis{
    width: 76.5%;
    padding-bottom: 50px;
}
.formaZaDodavanje .opis{
    font-size: 20px;
}

.formaZaDodavanje .mj{
    font-size: 20px;
}

.formaZaDodavanje #mj{
    width: 55.5%;
}

.formaZaDodavanje .color{
    font-size: 20px;
}
.formaZaDodavanje #color{
    width: 45.5%;
}

.formaZaDodavanje #mob{
    width: 72%;
}

.formaZaDodavanje .mob{
    font-size: 20px;
}

fieldset{
    margin-bottom: 10px;
}

.prvo{
    margin-left: 5px;
    margin-right: 50px;
    padding-left: 10px;
    padding-top: 10px;
}
.drugo{
    margin-left: 5px;
    margin-right: 50px;
    padding-left: 10px;
    padding-top: 10px;
    height: 300px;
}
.opis{
    position: relative;
    bottom: 190px;
}
.trece{
    margin-left: 5px;
    margin-right: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

.formaZaDodavanje form .trece .reset{
    margin-left: 410px;
    margin-top: 15px;
    font-size: 15px;
    padding: 6px;
    border-radius: 10px;
}
footer{
    display: flex;
    position: relative;
    width: 99.2%;
    bottom: 0;
    padding: 10px;
    top: 253px;
    background-color: rgb(64, 32, 138);
    color: white;
    justify-content: space-between;
    align-items: flex-end;
}

footer p {
    font-size: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 810px) and (max-height: 1170px){
    #proba1:target{
        display: block;
        font-size: 20px;
        position: relative;
        top: 0px;
        margin-right: 5px;
    }
    .img-izbornik{
        left: 720px;
    }
    header{
        width: 810px;
    }
    .d1{
        left: 8px;
    }
    footer{
        top: 200px;
    }
    .formaZaDodavanje{
        top: 150px;
        left: 105px;
        width: 550px;
        height: 860px;
        padding-left: 50px;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 450px) and (max-height: 860px){
    #proba1:target{
        display: block;
        font-size: 25px;
        position: relative;
        left:270px;
        bottom: 1550px;
        top: 10px;
    }
    .img-izbornik{
        left: 550px;
    }
    .formaZaDodavanje{
        top: 190px;
        left: 50px;
        width: 550px;
        height: 860px;
        padding-left: 50px;
        padding-top: 30px;
    }
    header{
        height: 70px;
        width: 710px;
    }
    .d1{
        left: -7px;
    }
    footer{
        width: 690px;
        top: 350px;
    }
    .o1{
        font-size: 30px;
        position: relative;
        left: 5px;
        top: 10px;
    }
    .img-izbornik{
        left: 630px;
    }
}