*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(64, 32, 138);
    height: 70px;
}
h1{
    padding-top: 8px;
    color: white;
    font-size: 45px;
    text-align: center;
    position: relative;
}
body{
    background: url(../materijali/proba6.jpeg);
    background-size: cover;
}
.img-logo{
    height: 50px;
    width: 70px;
    position: absolute;
    top: 15px;
    left: 20px;
}

#proba1{
    display: none;
}
#proba1:target{
    display: block;
    font-size: 25px;
    color: white;
}
li a {
    color: white;
}

.img-izbornik{
    height: 50px;
    width: 55px;
    position: absolute;
    top: 10px;
    right: 30px;
}

.izbornik{
    text-decoration: none;
    position: absolute;
    right: 10px;
    padding-top: 25px;
    padding-left: 15px;
}
.formaZaRegistraciju{
    position: relative;
    top: 100px;
    left: 1030px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: rgb(64, 32, 138);
    color: white;
    width: 400px;
    height: 750px;
    padding-left: 60px;
    padding-top: 20px;
}

.registracija{
    margin-top: 20px;
    padding: 15px;
    width: 70%;
    margin-left: 40px;
    border-radius: 35px;
    font-size: 20px;
    background-color: rgb(105, 18, 105);
    color: white;
    margin-top: 30px;
}

.registracija:hover{
    background-color: white;
    color: rgb(105, 18, 105);
    border: 1px solid rgb(105, 18, 105);
}

.registriranje{
    position: relative;
    margin-left: 40px;
    padding-bottom: 30px;
    font-size: 30px;
}

.formaZaRegistraciju #ime{
    width: 71%;
    font-size: 20px;
}
.ime{
    font-size: 23px;
}
.formaZaRegistraciju #prezime{
    width: 62%;
    font-size: 20px;
}
.prezime{
    font-size: 23px;
}
.formaZaRegistraciju #grod{
    width: 47%;
    font-size: 20px;
}
.grod{
    font-size: 23px;
}
.formaZaRegistraciju #email{
    width: 66.5%;
    font-size: 20px;
}
.email{
    font-size: 23px;
}
.formaZaRegistraciju #korime{
    width: 47%;
    font-size: 20px;
}
.korime{
    font-size: 23px;
}
.formaZaRegistraciju #loz{
    width: 62%;
    font-size: 20px;
}
.loz{
    font-size: 23px;
}
.formaZaRegistraciju #ploz{
    width: 46.5%;
    font-size: 20px;
}
.ploz{
    font-size: 23px;
}
.formaZaRegistraciju #cookies{
    width: 22.5%;
    font-size: 20px;
}
.cookies{
    font-size: 23px;
}
footer{
    display: flex;
    position: absolute;
    width: 99.2%;
    bottom: 0;
    padding: 10px;
    background-color: rgb(64, 32, 138);
    color: white;
    justify-content: space-between;
    align-items: flex-end;
}

footer p {
    font-size: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 810px) and (max-height: 1170px){
    .img-izbornik{
        left: 820px;
    }
    .formaZaRegistraciju{
        left: 200px;
    }
    #proba1:target{
        display: block;
        font-size: 17px;
        position: relative;
        top: 0px;
        left: 7px;
    }
    header{
        width: 900px;
    }
    .o1{
        position: relative;
        left: 0px;
    }
    footer{
        width: 880px;
        position: relative;
        top: 620px;
    }
}
@media only screen and (max-width: 450px) and (max-height: 860px){
    .img-izbornik{
        left: 640px;
    }
    .formaZaRegistraciju{
        left: 100px;
        margin-top: 80px;
    }
    header{
        height: 70px;
        width: 730px;
    }
    footer{
        width: 710px;
        position: relative;
        top: 500px;
    }
    .o1{
        font-size: 30px;
        position: relative;
        top: 10px;
        left: 5px;
    }
    #proba1:target{
        display: block;
        font-size: 20px;
        position: relative;
        left: 180px;
        bottom: 1550px;
        top: 20px;
    }
}